@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Theme variables
*/
@layer base {
  :root {
    /* Light Theme Colors */
    --background: 210 25% 95%;
    --foreground: 210 50% 10%;

    --card: 210 25% 95%;
    --card-foreground: 210 50% 10%;

    --popover: 210 25% 95%;
    --popover-foreground: 210 50% 10%;

    --primary: 215 70% 40%;
    --primary-foreground: 210 30% 97%;

    --secondary: 210 30% 95%;
    --secondary-foreground: 215 70% 40%;

    --muted: 210 30% 95%;
    --muted-foreground: 210 20% 50%;

    --accent: 210 30% 95%;
    --accent-foreground: 215 70% 40%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 210 30% 97%;

    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 210 50% 10%;

    --radius: 0.5rem;

    --background-dark: 210 15% 15%;
    --foreground-dark: 210 30% 95%;

    --card-dark: 210 20% 20%;
    --card-foreground-dark: 210 30% 95%;

    --popover-dark: 210 20% 20%;
    --popover-foreground-dark: 210 30% 95%;

    --primary-dark: 50 90% 58%;
    --primary-foreground-dark: 50 100% 10%;

    --secondary-dark: 50 30% 30%;
    --secondary-foreground-dark: 50 50% 90%;

    --muted-dark: 50 20% 20%;
    --muted-foreground-dark: 50 40% 80%;

    --accent-dark: 50 60% 50%;
    --accent-foreground-dark: 210 30% 95%;

    --destructive-dark: 0 30% 25%;
    --destructive-foreground-dark: 210 30% 95%;

    --border-dark: 215 20% 30%;
    --input-dark: 215 20% 30%;
    --ring-dark: 210 25% 85%;
  }
}

/*
  Theme switching based on this tweet from Devon Govett
  https://twitter.com/devongovett/status/1757131288144663027
*/
@layer base {
  :root {
    --theme-light: initial;
    --theme-dark: ;
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-light: ;
      --theme-dark: initial;
    }
  }

  [data-theme="light"] {
    --theme-light: initial;
    --theme-dark: ;
    color-scheme: light;
  }

  [data-theme="dark"] {
    --theme-light: ;
    --theme-dark: initial;
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
